@keyframes slideInBottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUP {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
